.nav{
    margin-left: 10px;
    padding-left: 10px;
    list-style: none;
    flex-wrap: wrap;
    position: relative;
}
.nav li { 
    float: left;
}
.nav a {
    display: block;
    width: 13em;
    padding:10px;
    margin: 5px;
    background-color: #f4f4f4;
    border: 1px solid #333;
    text-decoration: none;
    color: #333;
    text-align: center;
}
.nav a:hover{
    background-color: #8f2ed0;
    color: #f4f4f4;
}

#a4{
    background-color: #cd2727
}

h1 {
    color: #404040;
    align-content: center;
}

body {
    background-color: bisque;
}

#header {
    flex-flow: wrap;
    position: relative;
}

.sidebar {
    width: 25em;
    height: 25em;
    position: relative;
    border-style: double;
    float: left;
    margin: 1%;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    color: #8f2ed0;
}

.sidebar1 {
    width: 25em;
    height: 25em;
    position: relative;
    border-style: double;
    float: right;
    margin: 1%;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    color: #8f2ed0;
}



.card-body {
    clear: both;
}

.buy {
    align-self: center;
    border: #cd2727;
    border-style: dotted;
    background-color: aqua;
}